/*More changes to web page will be here!*/

body {
    background-color: #100e0e;
    color: #FFFFFF; 
}

.popup {
    padding: 15px;
    background-color: #3fa147;
    color: white;
    margin-bottom: 15px;
  }
  
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
.closebtn:hover {
  color: black;
}