/* Common Style for all pages */

.header-img {
  max-width: 10%;
  max-height: 80%;
  padding-bottom: 0.3rem;
}

.header-text {
  display:inline-block;
}

.form-group {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 20%;
  margin-left: 20%;
}

.main-content {
  margin-bottom: 2%;
  margin-right: 1%;
  margin-left: 1%;
}